/* fonts */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}
/* header */
.bg-image{
  background-image: url(../Assets/Hero-bg.png);
  height: 700px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 5%;
}
nav h3{
    color: #4E47FF;
    font-weight: bold;
    font-size: 36px;
}
nav ul li{
  list-style: none;
}
.btn{
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 36px;
  color: white;
  border: none;
  border-radius: 10px;
}

.banner-content{
  justify-items: center;
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.banner-content h1{
  width: 25ch;
}
.banner-btn{
  text-align: center;
  margin-bottom: 10%;
}
main{
  margin-left: 10%;
  margin-right: 10%;
}
/* main-preview */
.preview{
  display: flex;
  justify-content: space-between;
  margin: 10% 0%;
}
.preview-content h3{
  font-weight: 700;
  font-size: 42px;
}
.preview-content p{
  color: #8987A1;
  font-size: 24px;
  width: 35ch;
}
.preview-img img{
  border-radius: 48px;
}
/* footer */
.footer-content{
  justify-items: center;
}
.footer-content h1{
  text-align: center;
  color: #4E47FF;
  font-weight:800;
  font-size: 100px;
}
.footer-content p{
  justify-content: center;
  text-align: center;
  color: #8987A1;
  width: 55ch;
  font-size:large;
}
.footer-content ul{
  list-style: none;
  display: flex;
}
.footer-content ul a{
  font-size: large;
  text-align: center;
  text-decoration: none;
  color: #8987A1;
  margin: 10px;
}